body {
	font-family: 'Roboto',Arial,Tahoma,sans-serif;
	color: #535d66;
	min-width: 320px;
}

.text-left {
	text-align: left !important;
}

.m-b-0 {
    margin-bottom: 0px;	
}

.m-b-15 {
    margin-bottom: 15px;
}

.was-validated .form-control:invalid {
    border-color: #a94442;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
}

.was-validated .form-control:invalid~.invalid-feedback {
    display: block;
}

.price-page {
	padding-left: 0;
	max-width: 360px;
	margin: 5% auto;
	overflow-x: hidden;
}

.price-page .msg{
	color: #555;
	margin-bottom: 30px;
	text-align: center;
}

.card {
	background: whitesmoke; /*#fff;*/
	opacity: 0.9;
	min-height: 50px;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	position: relative;
	margin-bottom: 30px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
}

.card .header {
	padding: 10px 20px 0px 20px;
	position: relative;
	border-bottom: 1px solid rgba(204,204,204,.35);
}

.card .header h1, .card .header h2, .card .header h3, 
.card .header h4, .card .header h5, .card .header h6 {
	color: #0855c4 !important;
	font-weight: bold;
}

.card .body {
	font-size: 14px;
	padding: 20px;
}

.card .body .input-group-addon {
	padding: 6px 10px;
}

.alert-price {
	display: none;
}

.btn-price, .btn-return {
	background-color: #EA0C90;
	border-bottom: none !important;
	color: #fff !important;
	font-weight: bold;
}

.price-result {
	display: none;
}

.table-price-result th, .table-price-result td{
	text-align: center;
	vertical-align: middle;
}